#  Data preprocess

In [1]:
import nltk
import re
from nltk.corpus import stopwords
import string
from nltk.corpus import sentence_polarity
import random

In [3]:
f = open("finefoods.txt",encoding = "ISO-8859-1")
raw=f.read()

In [9]:
pattern='(product\/productId: )([0-9A-Z]+)\s(review\/userId: )([0-9A-Z]+)\s(review\/profileName: )([A-Za-z1-9,.?!\'\";:@#$%^&*()\-_=+`~[{\]}\\|\/<>\s]+)(review\/helpfulness: )(\d\/\d)\s(review\/score: )(\d.\d)\s(review\/time: )(\d{10})\s(review\/summary: )([A-Za-z1-9,.?!\'\";:@#$%^&*()\-_=+`~[{\]}\\|\/<>\s]+)\s(review\/text: )([A-Za-z1-9,.?!\'\";:@#$%^&*()\-_=+`~[{\]}\\|\/<>\s]+)\s(product\/productId: )'

In [10]:
matches = re.findall(pattern,raw)

In [11]:
f.close()

In [12]:
print(matches[0])

('product/productId: ', 'B001E4KFG0', 'review/userId: ', 'A3SGXH7AUHU8GW', 'review/profileName: ', 'delmartian\n', 'review/helpfulness: ', '1/1', 'review/score: ', '5.0', 'review/time: ', '1303862400', 'review/summary: ', 'Good Quality Dog Food', 'review/text: ', 'I have bought several of the Vitality canned dog food products and have found them all to be of good quality. The product looks more like a stew than a processed meat and it smells better. My Labrador is finicky and she appreciates this product better than  most.\n', 'product/productId: ')

In [13]:
len(matches)

250815

In [14]:
productID = []
userID = []
review_helpfulness = []
review_score = []
review_summary = []
review_text = []

for m in matches:
    productID.append(m[1])
    userID.append(m[3])
    review_helpfulness.append(m[7])
    review_score.append(m[9])
    review_summary.append(m[13])
    review_text.append(m[15])

In [16]:
import pandas as pd

In [21]:
d = {
    'Product ID': productID,
    'User ID': userID,
    'Review Helpfulness': review_helpfulness,
    'Review Score': review_score,
    'Review Summary': review_summary,
    'Review Text': review_text
}

In [22]:
raw_data = pd.DataFrame(data = d)

In [23]:
raw_data

,Product ID,User ID,Review Helpfulness,Review Score,Review Summary,Review Text
0,B001E4KFG0,A3SGXH7AUHU8GW,1/1,5.0,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,B000LQOCH0,ABXLMWJIXXAIN,1/1,4.0,"""Delight"" says it all",This is a confection that has been around a fe...
2,B006K2ZZ7K,A1UQRSCLF8GW1T,0/0,5.0,Great taffy,Great taffy at a great price. There was a wid...
3,B006K2ZZ7K,A1SP2KVKFXXRU1,0/0,5.0,Great! Just as good as the expensive brands!,This saltwater taffy had great flavors and was...
4,B000E7L2R4,A1MZYO9TZK0BBI,1/1,5.0,Yay Barley,Right now I'm mostly just sprouting this so my...
...,...,...,...,...,...,...
250810,B000H7K114,A2AGSSZR9V7XST,0/0,5.0,Excellent Tea,I love this tea. I first discovered the pleas...
250811,B001EO7N10,A2E5C8TTAED4CQ,2/2,5.0,Five Spice Powder,"You can make this mix yourself, but the Star A..."
250812,B001EO7N10,APWCOAVILK94B,0/0,5.0,"If its all natural, this is like panacea of Sp...","Hoping there is no MSG in this, this tastes ex..."
250813,B001EO7N10,A28KG5XORO54AY,0/0,5.0,Will not do without,Great for sesame chicken..this is a good if no...
250814,B004I613EE,A3IBEVCTXKNOH,1/1,5.0,Favorite Training and reward treat,These are the BEST treats for training and rew...

In [37]:
raw_data['Review Score'] = [float(i) for i in raw_data['Review Score']]

In [40]:
User_Filter = raw_data.groupby(['User ID']).agg({'Review Text' : 'count',
                                  'Review Score': 'mean'})

In [41]:
User_Filter

                       Review Text  Review Score
User ID
A00489763J7YUCSN6CP7K            1           5.0
A06364072LBY1F3ING9XN            1           5.0
A07895621XU7DHRAAPYJU            1           5.0
A09229701Z8W88AD38877            1           5.0
A1000X0NY39BA1                   1           5.0
...                            ...           ...
AZZV61COVM8CA                    1           5.0
AZZV9PDNMCOZW                    1           5.0
AZZVNIMTTMJH6                    1           5.0
AZZY649VYAHQS                    1           5.0
AZZYCJOJLUDYR                    1           5.0

[132567 rows x 2 columns]

In [43]:
set(User_Filter['Review Text'])
# The number of reviews of the customer ranges from 1 to 180

{1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 55,
 56,
 57,
 58,
 59,
 60,
 62,
 65,
 66,
 68,
 70,
 77,
 79,
 84,
 94,
 97,
 125,
 149,
 180}

In [72]:
# So we select the customers who gives more than 20 reviews.

In [80]:
more_than_20_reviews_users_agg_df = User_Filter.loc[(User_Filter['Review Text'] >20)]

In [81]:
more_than_20_reviews_users_agg_df

                Review Text  Review Score
User ID
A100WO06OQR8BQ           29      3.137931
A106ZCP7RSXMRU           40      4.875000
A1080SE9X3ECK0           31      4.741935
A10G136JEISLVR           25      4.000000
A11ED8O95W2103           22      3.772727
...                     ...           ...
AYOMAHLWRQHUG            27      4.037037
AYQ8RLE0K6RU8            27      4.000000
AZ4QFFUT8QVTA            25      5.000000
AZU4M5K1N2LAB            25      5.000000
AZV26LP92E6WU            66      4.803030

[392 rows x 2 columns]

In [82]:
set(more_than_20_reviews_users_agg_df['Review Score'])
# The average review score by customer ranges from 1.0 to 5.0 amoung all the customers

{1.0,
 1.1481481481481481,
 1.411764705882353,
 2.0,
 2.037974683544304,
 2.3333333333333335,
 2.4583333333333335,
 2.7142857142857144,
 2.789473684210526,
 2.8048780487804876,
 2.869565217391304,
 2.925925925925926,
 2.9285714285714284,
 2.9375,
 2.9714285714285715,
 2.982142857142857,
 3.0357142857142856,
 3.0434782608695654,
 3.0689655172413794,
 3.1136363636363638,
 3.1379310344827585,
 3.1555555555555554,
 3.18,
 3.235294117647059,
 3.25,
 3.3333333333333335,
 3.36,
 3.3636363636363638,
 3.4054054054054053,
 3.4193548387096775,
 3.4285714285714284,
 3.4313725490196076,
 3.4347826086956523,
 3.4545454545454546,
 3.4583333333333335,
 3.466666666666667,
 3.4782608695652173,
 3.5084745762711864,
 3.5135135135135136,
 3.5185185185185186,
 3.533333333333333,
 3.5416666666666665,
 3.5454545454545454,
 3.566666666666667,
 3.5714285714285716,
 3.590909090909091,
 3.6129032258064515,
 3.625,
 3.6666666666666665,
 3.68,
 3.6857142857142855,
 3.7096774193548385,
 3.7142857142857144,
 3.727272727272727,
 3.7419354838709675,
 3.7435897435897436,
 3.757575757575758,
 3.76,
 3.761904761904762,
 3.772727272727273,
 3.7916666666666665,
 3.8,
 3.8076923076923075,
 3.814814814814815,
 3.8260869565217392,
 3.857142857142857,
 3.861111111111111,
 3.8636363636363638,
 3.8666666666666667,
 3.869565217391304,
 3.8857142857142857,
 3.893617021276596,
 3.9047619047619047,
 3.909090909090909,
 3.9130434782608696,
 3.9166666666666665,
 3.9242424242424243,
 3.9285714285714284,
 3.9411764705882355,
 3.9545454545454546,
 3.962962962962963,
 3.9642857142857144,
 3.9655172413793105,
 3.96875,
 4.0,
 4.020408163265306,
 4.026315789473684,
 4.03125,
 4.031914893617022,
 4.037037037037037,
 4.038461538461538,
 4.04,
 4.0476190476190474,
 4.066666666666666,
 4.071428571428571,
 4.073170731707317,
 4.074074074074074,
 4.08,
 4.083333333333333,
 4.086956521739131,
 4.095238095238095,
 4.108108108108108,
 4.12,
 4.136363636363637,
 4.142857142857143,
 4.1571428571428575,
 4.16,
 4.166666666666667,
 4.173913043478261,
 4.181818181818182,
 4.186046511627907,
 4.190476190476191,
 4.196078431372549,
 4.2,
 4.208333333333333,
 4.228571428571429,
 4.230769230769231,
 4.238095238095238,
 4.241379310344827,
 4.25,
 4.257142857142857,
 4.260869565217392,
 4.269230769230769,
 4.285714285714286,
 4.291666666666667,
 4.295454545454546,
 4.304347826086956,
 4.3076923076923075,
 4.310344827586207,
 4.318181818181818,
 4.32,
 4.32258064516129,
 4.333333333333333,
 4.339622641509434,
 4.3428571428571425,
 4.3478260869565215,
 4.363636363636363,
 4.375,
 4.379310344827586,
 4.380952380952381,
 4.387096774193548,
 4.396551724137931,
 4.4,
 4.408,
 4.409090909090909,
 4.414634146341464,
 4.416666666666667,
 4.421052631578948,
 4.428571428571429,
 4.434782608695652,
 4.45,
 4.464285714285714,
 4.466666666666667,
 4.476190476190476,
 4.476923076923077,
 4.478260869565218,
 4.48,
 4.486486486486487,
 4.487804878048781,
 4.494845360824742,
 4.5,
 4.509090909090909,
 4.521739130434782,
 4.523809523809524,
 4.538461538461538,
 4.538888888888889,
 4.545454545454546,
 4.548387096774194,
 4.551724137931035,
 4.555555555555555,
 4.5588235294117645,
 4.56,
 4.5636363636363635,
 4.568627450980392,
 4.571428571428571,
 4.576923076923077,
 4.580645161290323,
 4.590909090909091,
 4.6,
 4.606060606060606,
 4.607142857142857,
 4.612903225806452,
 4.615384615384615,
 4.617647058823529,
 4.625,
 4.642857142857143,
 4.655172413793103,
 4.666666666666667,
 4.68,
 4.681818181818182,
 4.684563758389261,
 4.694444444444445,
 4.695652173913044,
 4.706896551724138,
 4.708333333333333,
 4.714285714285714,
 4.72,
 4.723404255319149,
 4.724137931034483,
 4.7368421052631575,
 4.739130434782608,
 4.741935483870968,
 4.75,
 4.756756756756757,
 4.76,
 4.761904761904762,
 4.7727272727272725,
 4.775862068965517,
 4.779411764705882,
 4.780487804878049,
 4.78125,
 4.781818181818182,
 4.782608695652174,
 4.785234899328859,
 4.785714285714286,
 4.787878787878788,
 4.794117647058823,
 4.8,
 4.803030303030303,
 4.8076923076923075,
 4.815789473684211,
 4.818181818181818,
 4.826086956521739,
 4.826923076923077,
 4.829268292682927,
 4.833333333333333,
 4.839285714285714,
 4.857142857142857,
 4.859649122807017,
 4.866666666666666,
 4.875,
 4.877551020408164,
 4.884615384615385,
 4.888888888888889,
 4.892857142857143,
 4.894736842105263,
 4.895833333333333,
 4.896551724137931,
 4.909090909090909,
 4.916666666666667,
 4.92,
 4.923076923076923,
 4.928571428571429,
 4.9375,
 4.942857142857143,
 4.96,
 4.961538461538462,
 4.966666666666667,
 4.977777777777778,
 5.0}

In [108]:
more_than_20_reviews_users_agg_df.loc[(more_than_20_reviews_users_agg_df['Review Score'] ==1.0)]

                Review Text  Review Score
User ID
A2EMM13TIU7IML           25           1.0
A333ABL4WW067D           25           1.0
A3827I7HIP1LMB           25           1.0
A3JUM0WSKPN0NT           25           1.0
AHUYS6XZ39TJK            25           1.0

In [153]:
raw_data[raw_data['User ID'].isin(more_than_20_reviews_users_agg_df.\
                                  loc[(more_than_20_reviews_users_agg_df['Review Score'] ==1.0)].index)].\
sort_values(by = 'User ID')

,Product ID,User ID,Review Helpfulness,Review Score,Review Summary,Review Text
147038,B00188S3PM,A2EMM13TIU7IML,1/2,1.0,Not even close...,"This was a waste of money, the item was late, ..."
87556,B000FVBYCW,A2EMM13TIU7IML,1/2,1.0,Not even close...,"This was a waste of money, the item was late, ..."
78641,B00073IVAQ,A2EMM13TIU7IML,1/2,1.0,Not even close...,"This was a waste of money, the item was late, ..."
167319,B007RLRCLK,A2EMM13TIU7IML,1/2,1.0,Not even close...,"This was a waste of money, the item was late, ..."
168131,B00020HHK4,A2EMM13TIU7IML,1/2,1.0,Not even close...,"This was a waste of money, the item was late, ..."
...,...,...,...,...,...,...
68697,B0009VO58S,AHUYS6XZ39TJK,2/5,1.0,Hated it,This review is about the product the seller wa...
168139,B00020HHK4,AHUYS6XZ39TJK,2/5,1.0,Hated it,This review is about the product the seller wa...
51874,B0016B7Z32,AHUYS6XZ39TJK,2/5,1.0,Hated it,This review is about the product the seller wa...
45442,B000FVDWU4,AHUYS6XZ39TJK,2/5,1.0,Hated it,This review is about the product the seller wa...
167805,B00014DXCC,AHUYS6XZ39TJK,2/5,1.0,Hated it,This review is about the product the seller wa...